<ion-content [fullscreen]="true" class="bg">
    <ion-header>
        <ion-toolbar color="tertiary">
            <ion-buttons slot="start" [routerLink]="['/docente','panshoots']">
                <ion-button>
                    <ion-icon name="arrow-back" style="color: black;"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button [routerLink]="['/home']">
                    <ion-icon name="log-out" style="color: black;"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title style="color: #e7c502;;" text-center>Generar QR</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card style="margin-top: 10%;">
        <ion-card-header>
            <ion-item lines="none" class="generar-codigo__label">
                <ion-input type="text" placeholder="Dirección ..." [(ngModel)]="qrData"></ion-input>
            </ion-item>

            <div class="contenedor-btn">
                <!-- Botón para generar un código QR -->
                <ion-button class="btn-generar" expand="full" (click)="crearCodigo()">
                    <ion-icon name="qr-code"></ion-icon>
                </ion-button>
                <div class="contenedor-qr" style="display: flex; text-align: center; justify-content: center;">
                    <ngx-qrcode *ngIf="codigoCreado" [elementType]='elementType' [value]="codigoCreado"></ngx-qrcode>
                </div>
            </div>
        </ion-card-header>

        <ion-card-content>
            <b *ngIf="codigoCreado">Código :</b> {{codigoCreado}}
        </ion-card-content>
    </ion-card>

</ion-content>