<ion-content [fullscreen]="true" class="bg">
    <ion-header>
        <ion-toolbar color="tertiary">
            <ion-buttons slot="start" [routerLink]="['/alumnos']">
                <ion-button>
                    <ion-icon name="arrow-back" style="color: black;"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button [routerLink]="['/home']">
                    <ion-icon name="log-out" style="color: black;"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title style="color: #e7c502;;" text-center>Lista de Alumnos</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid style="margin-right: 5%;" style="border-radius: 50px;">
        <ion-row style="border-radius: 50px;">
            <ion-col style="border-radius: 50px;">
                <ion-item style="border-top-left-radius:15px; border-top-right-radius: 15px;">
                    <ion-label position="floating">NOMBRE</ion-label>
                    <ion-input #nombre [(ngModel)]="nombreAlumno"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">APELLIDO</ion-label>
                    <ion-input #numero_lista [(ngModel)]="apellidoAlumno"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">USUARIO</ion-label>
                    <ion-input #carrera [(ngModel)]="usuarioAlumno"></ion-input>
                </ion-item>
                <ion-button (click)="agregarAlumno()" color='tertiary' style="margin-top: 16px; margin-left: 10px;"> Guardar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>