<ion-content [fullscreen]="true" class="bg">
    <ion-header>
        <app-encabezado [pageTitle]="paginatitulo"></app-encabezado>
    </ion-header>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1024px-Logo_DuocUC.svg.png" style="margin-top: 5%; margin-left: 1%; margin-right: 1%;">

    <ion-form class="bg">
        <ion-grid style="margin-right: 5%;">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">NOMBRE DE USUARIO</ion-label>
                        <ion-input type="text" [(ngModel)]="nombreUsuario"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">CONTRASEÑA</ion-label>
                        <ion-input type="password" [(ngModel)]="contrasenia"></ion-input>
                    </ion-item>
                    <ion-button (click)="iniciarSesion()" style="margin-left: 10%; margin-top: 16px;">
                        Ingresar
                    </ion-button>
                    <ion-button color='light' routerLink="/recuperar-contrasena" style="margin-top: 16px; margin-left: 10px;"> Restaurar Contraseña
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-form>
</ion-content>
<app-pie-pag></app-pie-pag>